@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --fs-head-primary: 2.8rem;
  --fs-head-secoundary: 2.8rem;
  --fs-body-primary: 1rem;
  --fs-body-secoundary: .8rem;
  --gr-main: linear-gradient(180deg, #006ACA 0%, #1081E8 100%);
  --bs-navbar-main:0 3px 20px rgba(0, 0, 0, .3);
}

main {
  min-height: 100vh;
}

.btn {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem;
  font-size: 0.9em;
}
.btn.btn-gr-yellow {
  background: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
  color: #ffffff;
}
.btn.btn-gr-yellow:hover {
  background: linear-gradient(0deg, rgb(253, 194, 1) 0%, rgb(253, 194, 1) 100%);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
.btn.btn-gr-yellow:active {
  box-shadow: inset 2px 2px 15px rgba(0, 0, 0, 0.4);
}
.btn.btn-gr-light-outline {
  border: 1px solid #F8F9FA;
  color: #F8F9FA;
}
.btn.btn-gr-light-outline:hover {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #F8F9FA 100%);
  color: #0F2851;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
.btn.btn-gr-light-outline:active {
  box-shadow: inset 2px 2px 15px rgba(0, 0, 0, 0.4);
}
.btn.btn-gr-blue {
  background: linear-gradient(0deg, rgb(8, 100, 187) 0%, rgb(27, 145, 255) 100%);
  color: #ffffff;
  border: unset;
}
.btn.btn-gr-blue:hover {
  background: linear-gradient(0deg, rgb(9, 119, 223) 0%, rgb(27, 145, 255) 100%);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
.btn.btn-gr-blue:active {
  box-shadow: inset 2px 2px 15px rgba(0, 0, 0, 0.4);
}
.btn.btn-outline-light:hover {
  color: #0F2851;
}

p {
  line-height: 30px;
}

body.light {
  background: linear-gradient(90deg, #ffffff 29px, transparent 1%) center, linear-gradient(#ffffff 29px, transparent 1%) center, rgb(236, 236, 236);
  background-size: 31.2px 31.2px;
}
body.light * {
  font-family: "Poppins", sans-serif;
}
body.light::-webkit-scrollbar {
  width: 0.6em;
}
body.light::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 6px rgb(233, 239, 255);
  z-index: 8;
}
body.light::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202);
  border-radius: 0.35em;
}
body.light .navbar-toggler.custome {
  display: none;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  border: unset;
}
body.light .navbar-toggler.custome:focus {
  outline: unset;
  text-decoration: none;
  box-shadow: none;
}
body.light .navbar-toggler.custome::before, body.light .navbar-toggler.custome::after {
  content: "";
  display: block;
  top: 0;
  right: 0;
  width: 32px;
  height: 3px;
  background-color: #ffffff;
  transition: all 200ms ease-in-out;
}
body.light .navbar-toggler.custome::before {
  margin-bottom: 8px;
  width: 38px;
}
body.light .navbar-toggler.custome::after {
  width: 25px;
}
body.light .navbar-toggler.custome .navbar-toggler-icon-custome-1 {
  display: block;
  width: 32px;
  height: 3px;
  background-color: #ffffff;
  transition: all 200ms ease-in-out;
  margin-bottom: 8px;
}
body.light .navbar-toggler.custome:hover::before, body.light .navbar-toggler.custome:hover::after {
  width: 32px;
}
body.light .main-header {
  background: linear-gradient(180deg, #006ACA 0%, #1081E8 100%);
  padding: 2rem 0;
}
body.light .main-header .hero {
  position: relative;
}
body.light .main-header .hero .hero-item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: upDown 2s ease-in-out infinite;
          animation: upDown 2s ease-in-out infinite;
}
body.light .main-header .hero .hero-item.star-1 {
  background-position: 26px 153px;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
body.light .main-header .hero .hero-item.star-2 {
  background-position: 389px 448px;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
body.light .main-header .hero .hero-item.star-3 {
  background-position: 149px 177px;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
body.light .main-header .hero .hero-item.dot-1 {
  background-position: 74px 302px;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
body.light .main-header .hero .hero-item.dot-2 {
  background-position: 105px 133px;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
body.light .main-header .hero .hero-item.dot-3 {
  background-position: 374px 257px;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
body.light .main-header .hero .hero-item.circle-1 {
  background-position: 414px 184px;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
body.light .main-header .navbar .navbar-nav .nav-item {
  padding-left: 2rem;
}
body.light .main-header .navbar .navbar-nav .nav-item .nav-link {
  margin-top: 10px;
}
body.light .main-header.aboutme {
  background-size: 450%;
  -webkit-animation: bg-animate 2s ease-in-out infinite alternate;
          animation: bg-animate 2s ease-in-out infinite alternate;
}
body.light .main-header.aboutme h2 {
  font-weight: 700;
}
body.light .main-header.aboutme .header-content {
  margin-bottom: unset;
  padding: 4.5rem 0;
  color: #ffffff;
}
body.light .main-header.portfolio {
  background-size: 450%;
  -webkit-animation: bg-animate 2s ease-in-out infinite alternate;
          animation: bg-animate 2s ease-in-out infinite alternate;
}
body.light .main-header .header-content {
  margin-bottom: 9rem;
}
body.light .main-header .header-content .text {
  color: #ffffff;
}
body.light .main-header .header-content .text h1 {
  font-weight: 700;
  font-size: 2.8rem;
}
body.light .main-header .header-content .text .social-media {
  margin-top: 6rem;
}
body.light .main-header .header-content .text .social-media a {
  color: #ffffff;
  text-decoration: none;
}
body.light .section-head {
  color: #0F2851;
  margin-bottom: 70px;
}
body.light .section-head p {
  color: #333;
}
body.light .section-head h2 {
  font-weight: 700;
}
body.light .section-head.section-ability {
  color: #ffffff;
  background-image: url("../img/bg-ability.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 171px;
}
body.light .section-head.section-ability .devider {
  background-color: #ffffff;
  content: "";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  margin-left: auto;
}
body.light .section-head.section-works {
  color: #0F2851;
}
body.light .section-ability-content {
  margin-top: -7.5rem;
  margin-bottom: 230px;
}
body.light .section-ability-content .list-ability {
  display: flex;
  justify-content: space-between;
  position: relative;
}
body.light .section-ability-content .list-ability .item {
  padding: 0.5rem;
  background: #ffffff;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  position: absolute;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body.light .section-ability-content .list-ability .item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}
body.light .section-ability-content .list-ability .item img {
  height: 70%;
}
body.light .section-ability-content .list-ability .item[data-pos="0"] {
  z-index: 9;
}
body.light .section-ability-content .list-ability .item[data-pos="1"] {
  transform: translateX(110%) scale(0.8);
  z-index: 8;
}
body.light .section-ability-content .list-ability .item[data-pos="-1"] {
  transform: translateX(-110%) scale(0.8);
  z-index: 8;
}
body.light .section-ability-content .list-ability .item[data-pos="2"] {
  transform: translate(200%, -5%) scale(0.6);
  z-index: 7;
}
body.light .section-ability-content .list-ability .item[data-pos="-2"] {
  transform: translate(-200%, -5%) scale(0.6);
  z-index: 7;
}
body.light .section-ability-content .list-ability .item[data-pos="3"] {
  transform: translate(270%, -11%) scale(0.4);
  z-index: 7;
}
body.light .section-ability-content .list-ability .item[data-pos="-3"] {
  transform: translate(-270%, -11%) scale(0.4);
  z-index: 7;
}
body.light .section-ability-content .list-ability .item[data-pos="4"] {
  transform: translate(320%, -13%) scale(0.2);
  z-index: 7;
}
body.light .section-ability-content .list-ability .item[data-pos="-4"] {
  transform: translate(-320%, -18%) scale(0.2);
  z-index: 7;
}
body.light .section-aboutme-content {
  margin-bottom: 230px;
}
body.light .section-works-content {
  margin-bottom: 210px;
  position: relative;
}
body.light .section-works-content::before {
  content: "";
  background-image: url("../img/dotsmany.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -150px;
  left: -150px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -2;
}
body.light .section-works-content::after {
  content: "";
  background-image: url("../img/dotsmany.png");
  background-repeat: no-repeat;
  background-position: 121% 56px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -2;
}
body.light .section-works-content .macbook-img-preview {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
body.light .section-works-content .macbook-img-preview img {
  position: absolute;
  z-index: 2;
  width: 100%;
}
body.light .section-works-content .macbook-img-preview .swiper.macbook-img {
  max-width: 100%;
  width: 80%;
  height: 427px;
  margin-top: 10px;
}
body.light .section-works-content .macbook-img-preview .swiper.macbook-img .swiper-button-next, body.light .section-works-content .macbook-img-preview .swiper.macbook-img .swiper-button-prev {
  display: none;
}
body.light .section-works-content .macbook-img-preview .swiper-pagination {
  margin-top: 30px;
  bottom: -20px;
  position: relative;
}
body.light .section-works-content .macbook-img-preview .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transition: all 200ms linear;
  width: 20px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
}
body.light .section-service-content {
  margin-bottom: 230px;
}
body.light .section-service-content .service-item {
  margin-top: 30px;
  padding: 30px 20px;
  text-align: left;
  border: unset;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 60ms ease-in-out;
}
body.light .section-service-content .service-item h2 {
  color: #0F2851;
  font-weight: 600;
}
body.light .section-service-content .service-item p {
  color: #333;
  margin-bottom: unset;
}
body.light .section-service-content .service-item hr {
  background-color: #E9EFFF;
}
body.light .section-service-content .service-item .service-img {
  height: 90px;
  width: 90px;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 50%;
}
body.light .section-service-content .service-item .service-img img {
  width: 100%;
}
body.light .section-service-content .service-item::after {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
  transform: translateY(100%);
  transition: all 200ms ease-in-out;
}
body.light .section-service-content .service-item:hover {
  background-color: #1081E8;
}
body.light .section-service-content .service-item:hover h2 {
  color: #ffffff;
}
body.light .section-service-content .service-item:hover p {
  color: #ffffff;
  margin-bottom: unset;
}
body.light .section-service-content .service-item:hover hr {
  background-color: #ffffff;
}
body.light .section-service-content .service-item:hover::after {
  transform: translateY(0);
}
body.light .section-recent-project-content {
  margin-bottom: 230px;
}
body.light .section-recent-project-content nav {
  display: none;
  color: #0F2851;
}
body.light .section-recent-project-content nav h2 {
  font-weight: 700;
}
body.light .section-recent-project-content nav .dropdown a {
  color: #1081E8;
  font-size: 1rem;
}
body.light .section-recent-project-content .recent-project-item {
  min-height: 420px;
  background-size: cover;
  background-position: center;
  border: unset;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
body.light .section-recent-project-content .recent-project-item .card-body {
  padding: 0.6rem 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  color: #ffffff;
  font-size: 0.9em;
  transition: all 200ms ease-in-out;
  transform: translateY(81.5%);
}
body.light .section-recent-project-content .recent-project-item .card-body h5 {
  font-weight: 600;
}
body.light .section-recent-project-content .recent-project-item .card-body small {
  font-weight: 300;
  margin-top: unset;
  font-size: 0.8em;
}
body.light .section-recent-project-content .recent-project-item .card-body .divider {
  margin: 10px 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
  display: block;
  transition: transform 150ms 150ms cubic-bezier(0.59, 0.34, 0.55, -0.19);
  transform: translateX(-120%);
}
body.light .section-recent-project-content .recent-project-item .card-body .tech {
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
}
body.light .section-recent-project-content .recent-project-item .card-body .tech .tech-logo {
  margin: 0 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(250, 250, 250, 0.9) 100%);
}
body.light .section-recent-project-content .recent-project-item a.btn {
  transform: translate3d(0, 0, 0) !important;
  transition: all 100ms linear;
}
body.light .section-recent-project-content .recent-project-item:hover {
  background-position: 0 0;
}
body.light .section-recent-project-content .recent-project-item:hover a.btn {
  transform: translate3d(0, 0, 75px) !important;
}
body.light .section-recent-project-content .recent-project-item:hover .card-body {
  transform: translateY(0);
}
body.light .section-recent-project-content .recent-project-item:hover .card-body small {
  margin-top: 3rem;
  display: block;
}
body.light .section-recent-project-content .recent-project-item:hover .card-body .divider {
  transform: translateX(0);
}
body.light .section-recent-project-content .swiper-portfolio .swiper-button-next, body.light .section-recent-project-content .swiper-portfolio .swiper-button-prev {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
body.light .section-recent-project-content .swiper-portfolio .swiper-button-next::after, body.light .section-recent-project-content .swiper-portfolio .swiper-button-prev::after {
  font-size: 1.3rem;
  text-align: center;
  line-height: 40px;
  font-weight: bolder;
}
body.light .section-recent-project-content .swiper-portfolio .swiper-pagination {
  margin-top: 30px;
  position: relative;
}
body.light .section-recent-project-content .swiper-portfolio .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transition: all 200ms linear;
  width: 20px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
}
body.light .section-previous-portfolio {
  margin-bottom: 230px;
  position: relative;
}
body.light .section-previous-portfolio::before {
  content: "";
  background-image: url("../img/blue-circle.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -100px;
  left: -150px;
  width: 100%;
  height: 100%;
  z-index: -2;
}
body.light .section-previous-portfolio::after {
  content: "";
  background-image: url("../img/dots.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 98% -10px;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 20px;
}
body.light footer {
  background-color: #0F2851;
}
body.light footer hr {
  margin: 0;
}
body.light footer * {
  color: #ffffff;
}
body.light footer .list-first {
  padding: 100px 0;
}
body.light footer .list-first .nav-link {
  padding-left: 0;
}
body.light footer .list-first .social-media .link {
  text-decoration: none;
  margin-right: 35px;
}
body.light footer .list-first .item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
body.light footer .list-first .item.brand .brand img[alt=logo] {
  margin-top: -16px;
}
body.light footer .list-first .item.contact ul, body.light footer .list-first .item.address ul {
  list-style: none;
  padding-left: unset;
}
body.light footer .list-first .item.contact ul li, body.light footer .list-first .item.address ul li {
  display: list-item;
  padding: 0.5rem 0;
  color: #33517c;
}
body.light footer .list-first .item.explore .nav-link {
  color: #33517c;
}
body.light footer .list-first .item.explore .nav-link:hover {
  color: #FDC201;
}
body.light footer .list-secound {
  padding: 30px 0;
}
body.light footer .list-secound small {
  font-size: 0.7em;
  font-weight: 300;
}
body.light .section-background-content {
  margin: 70px 0 130px;
}
body.light .section-background-content article {
  text-align: justify;
}
body.light .section-interest-content {
  margin-bottom: 130px;
}
body.light .section-interest-content .interest-item {
  height: 250px;
  background-size: cover;
  background-position: center;
  border: unset;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  display: flex;
  justify-content: end;
  padding-bottom: 1rem;
  box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.3);
}
body.light .section-interest-content .interest-item::after {
  content: "";
  width: 3px;
  height: 3px;
  transform: translateX(-100%);
  left: 0;
  position: absolute;
  bottom: 15px;
  background: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
}
body.light .section-interest-content .interest-item:hover::after {
  -webkit-animation: divider 800ms ease-in-out;
          animation: divider 800ms ease-in-out;
  width: 40%;
  height: 3px;
  transform: translateX(-50%);
  left: 50%;
}
@-webkit-keyframes divider {
  0% {
    width: 3px;
    height: 3px;
    transform: translateX(-100%);
    left: 0;
  }
  40% {
    transform: translateX(-50%);
    left: 50%;
  }
  100% {
    width: 40%;
    height: 3px;
    transform: translateX(-50%);
    left: 50%;
  }
}
@keyframes divider {
  0% {
    width: 3px;
    height: 3px;
    transform: translateX(-100%);
    left: 0;
  }
  40% {
    transform: translateX(-50%);
    left: 50%;
  }
  100% {
    width: 40%;
    height: 3px;
    transform: translateX(-50%);
    left: 50%;
  }
}
body.light .section-education-content {
  margin-bottom: 130px;
}
body.light .section-education-content .education-item {
  height: 100%;
  overflow: hidden;
}
body.light .section-education-content .education-item .card-head {
  padding: 1rem;
  background-color: #1081E8;
  color: #ffffff;
}
body.light .section-education-content .education-item .card-head * {
  margin: 0;
}
body.light .section-education-content .education-item h3 {
  font-size: 1.5em;
  font-weight: 600;
}
body.light .section-education-content .education-item ul {
  padding-left: 1.2rem;
}
body.light .section-education-content .education-item ul li {
  font-size: 0.9em;
  color: #333;
}
body.light .section-education-content .education-item ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #1081E8;
}
body.light .section-contact {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 230px;
}
body.light .section-contact .section-head * {
  color: #ffffff;
}
body.light .section-contact .section-content .form input, body.light .section-contact .section-content .form textarea {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
body.light .section-contact .section-content .form label {
  color: #ffffff;
}
body.light .section-timeline-journey-content {
  margin-bottom: 130px;
}
body.light .section-timeline-journey-content .timeline-head {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
body.light .section-timeline-journey-content .timeline-head .head-item {
  margin: 0.5rem;
  letter-spacing: 1px;
}
body.light .section-timeline-journey-content .timeline-head .head-item .nav-link {
  color: #333;
  cursor: pointer;
}
body.light .section-timeline-journey-content .timeline-head .head-item .nav-link.active {
  color: #1081E8;
  background-color: transparent;
}
body.light .section-timeline-journey-content .tab-pane.fade.show.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.light .section-timeline-journey-content .timeline-list {
  width: 100%;
  position: relative;
  list-style: none;
  padding-left: 0;
}
body.light .section-timeline-journey-content .timeline-list::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  border-left: 3px solid #1081E8;
}
body.light .section-timeline-journey-content .timeline-list::after {
  content: "";
  clear: both;
  display: block;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item {
  position: relative;
  width: 50%;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item:hover:nth-child(even)::before {
  height: 100%;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item:hover:nth-child(odd)::before {
  height: 100%;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item:nth-child(even) {
  padding-right: 20px;
  text-align: right;
  float: left;
  clear: both;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -3px;
  width: 3px;
  height: 0;
  background-image: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
  display: inline-block;
  transition: all 255ms ease-in-out;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item:nth-child(even)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -9px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
  display: inline-block;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item:nth-child(odd) {
  float: right;
  padding-left: 20px;
  clear: both;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 0;
  background-image: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
  display: inline-block;
  transition: all 255ms ease-in-out;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
  display: inline-block;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item:not(:last-child) {
  padding-bottom: 1rem;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item .location {
  margin-top: 0.2rem;
}
body.light .section-timeline-journey-content .timeline-list .timeline-item .periode {
  margin-top: 1rem;
  font-size: 0.8rem;
}
body.light .error-page {
  color: #0F2851;
}
body.light .scroll-to-top {
  display: none;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
}
body.light .scroll-to-top:active, body.light .scroll-to-top:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
body.light .scroll-to-top:hover {
  color: #FCBC08;
}
body.light .pre-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition: all 255ms ease-in-out;
}
body.light .pre-loader .shape {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-5em);
}
body.light .pre-loader .shape .circle {
  width: 40px;
  height: 40px;
  background-color: #fdb113;
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: bounce 0.6s linear infinite;
          animation: bounce 0.6s linear infinite;
}
body.light .pre-loader .shape .circle:nth-child(2) {
  background-color: #006aca;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
body.light .pre-loader .shape .circle:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body.light .pre-loader .shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: unset !important;
  transform: translateY(-5em);
}
body.light .pre-loader .shadow .shape-shadow {
  width: 40px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: bounceShadow 0.6s linear infinite;
          animation: bounceShadow 0.6s linear infinite;
  transform: translateY(5em) scale(0.5);
  filter: blur(5px);
}
body.light .pre-loader .shadow .shape-shadow:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
body.light .pre-loader .shadow .shape-shadow:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body.light .section-recent-portfolio {
  background-image: url("../img/bg-ability.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 2rem;
}
body.light .section-recent-portfolio .carousel-portfolio {
  position: relative;
}
body.light .section-recent-portfolio .carousel-portfolio::before {
  content: "";
  background-image: url("../img/icon/flag.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 13%;
  height: 100%;
  position: absolute;
  top: -9px;
  right: 10px;
  z-index: 2;
}
body.light .section-recent-portfolio .carousel-portfolio .swiper {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 5px;
}
body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}
body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-slide .card {
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  height: 400px;
  width: 100%;
  border: 0;
  border-radius: 5px;
}
body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-slide .card .card-body {
  flex: unset;
  padding: 2rem 2rem 0;
}
body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-slide .card .card-body .card-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}
body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-slide .card .card-body .card-title span {
  color: #FDC201;
}
body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-pagination {
  top: 363px;
  text-align: left;
  padding-left: 2rem;
}
body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.788);
}
body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transition: all 200ms linear;
  width: 20px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
}
body.light .tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #FDC201;
}
body.light .tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #FDC201;
}
body.light .tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #FDC201;
}
body.light .tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #FDC201;
}
body.light .tooltip-inner {
  background-color: #FDC201;
}
@media screen and (max-width: 426px) {
  body.light .main-header .hero {
    position: relative;
  }
  body.light .main-header .hero .hero-item.star-1 {
    background-position: 63px 84px !important;
    background-size: 6%;
  }
  body.light .main-header .hero .hero-item.star-2 {
    background-position: 257px 256px !important;
    background-size: 4%;
  }
  body.light .main-header .hero .hero-item.star-3 {
    background-position: 118px 127px !important;
    background-size: 4%;
  }
  body.light .main-header .hero .hero-item.dot-1 {
    background-position: 94px 168px !important;
    background-size: 2%;
  }
  body.light .main-header .hero .hero-item.dot-2 {
    background-position: 121px 75px !important;
    background-size: 2.5%;
  }
  body.light .main-header .hero .hero-item.dot-3 {
    background-position: 228px ​125px !important;
    background-size: 6%;
  }
  body.light .main-header .hero .hero-item.circle-1 {
    background-position: 280px 85px !important;
    background-size: 10%;
  }
}
@media screen and (max-width: 576px) {
  body.light .section-previous-portfolio {
    margin-top: 1rem;
  }
  body.light .section-previous-portfolio::before, body.light .section-previous-portfolio::after {
    display: none;
  }
  body.light .section-previous-portfolio img.pre-portfolio {
    width: 70%;
  }
  body.light .main-header {
    padding: 0 0 5rem;
  }
  body.light .main-header .hero {
    position: relative;
  }
  body.light .main-header .hero .hero-item.star-1 {
    background-position: 76px 111px;
  }
  body.light .main-header .hero .hero-item.star-2 {
    background-position: 340px 326px;
  }
  body.light .main-header .hero .hero-item.star-3 {
    background-position: 150px 149px;
  }
  body.light .main-header .hero .hero-item.dot-1 {
    background-position: 118px 221px;
  }
  body.light .main-header .hero .hero-item.dot-2 {
    background-position: 155px 91px;
  }
  body.light .main-header .hero .hero-item.dot-3 {
    background-position: 314px 174px;
  }
  body.light .main-header .hero .hero-item.circle-1 {
    background-position: 345px 93px;
  }
  body.light .main-header.portfolio {
    padding-bottom: 0;
  }
  body.light .main-header .navbar .navbar-nav .nav-item {
    padding-left: unset;
  }
  body.light .main-header .header-content img.hero {
    width: 70%;
    margin: 0 auto 2rem;
  }
  body.light .main-header .header-content .text h1 {
    font-weight: 600;
    font-size: 1.8rem;
  }
  body.light .main-header .header-content .text .social-media {
    margin-top: 1.5rem;
  }
  body.light .main-header .header-content .text .social-media a {
    margin: 0 12px;
    text-decoration: none;
  }
  body.light .section-recent-project-content .recent-project-item:hover .card-body {
    transform: translateY(0) !important;
  }
  body.light .section-recent-project-content .recent-project-item:hover .card-body small {
    margin-top: 1.5rem;
    display: block;
  }
  body.light .section-works-content::before, body.light .section-works-content::after {
    content: "";
    display: none;
  }
  body.light .section-works-content .macbook-img-preview .swiper.macbook-img {
    height: 176px !important;
  }
  body.light .section-works-content .macbook-img-preview .swiper-pagination {
    margin-top: 5px;
    bottom: -30px !important;
  }
  body.light footer .list-first {
    padding: 50px 0;
  }
  body.light footer .list-first .item {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }
  body.light footer .list-first .item.brand .brand img[alt=logo] {
    margin-top: -16px;
  }
  body.light footer .list-first .item.contact ul, body.light footer .list-first .item.address ul {
    list-style: none;
    padding-left: unset;
  }
  body.light footer .list-first .item.contact ul li, body.light footer .list-first .item.address ul li {
    display: list-item;
    padding: 0.5rem 0;
  }
  body.light footer .list-first .item.explore .nav-link:hover {
    color: #FDC201;
  }
  body.light footer .list-secound {
    padding: 30px 0;
  }
  body.light footer .list-secound small {
    font-size: 0.7em;
    font-weight: 300;
  }
  body.light .section-recent-portfolio {
    background-image: none;
    margin-top: -0.3rem;
  }
  body.light .section-recent-portfolio .carousel-portfolio::before {
    top: -9px;
    right: 10px;
  }
  body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-pagination {
    top: 106px;
    padding-left: 0.5rem;
  }
  body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-slide .card {
    height: 130px;
    width: 100%;
  }
  body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-slide .card .card-body {
    padding: 0.5rem 0.5rem 0;
  }
  body.light .section-recent-portfolio .carousel-portfolio .swiper .swiper-slide .card .card-body .card-title {
    font-size: 2rem;
  }
  body.light .section-head.section-ability {
    background-image: url("../img/bg-ability-mobile-2.png");
  }
  body.light .section-ability-content {
    margin-top: -6rem;
    margin-bottom: 200px;
  }
  body.light .section-ability-content .list-ability {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  body.light .section-ability-content .list-ability .item img {
    height: 70%;
  }
  body.light .section-ability-content .list-ability .item[data-pos="0"] {
    z-index: 9;
  }
  body.light .section-ability-content .list-ability .item[data-pos="1"] {
    transform: translate(110%, -10%) scale(0.8);
    z-index: 8;
  }
  body.light .section-ability-content .list-ability .item[data-pos="-1"] {
    transform: translate(-110%, -10%) scale(0.8);
    z-index: 8;
  }
  body.light .section-ability-content .list-ability .item[data-pos="2"] {
    transform: translate(200%, -35%) scale(0.6);
    z-index: 7;
  }
  body.light .section-ability-content .list-ability .item[data-pos="-2"] {
    transform: translate(-200%, -35%) scale(0.6);
    z-index: 7;
  }
  body.light .section-ability-content .list-ability .item[data-pos="3"] {
    transform: translate(270%, -61%) scale(0.4);
    z-index: 7;
  }
  body.light .section-ability-content .list-ability .item[data-pos="-3"] {
    transform: translate(-270%, -61%) scale(0.4);
    z-index: 7;
  }
  body.light .section-ability-content .list-ability .item[data-pos="4"] {
    transform: translate(320%, -85%) scale(0.2);
    z-index: 7;
  }
  body.light .section-ability-content .list-ability .item[data-pos="-4"] {
    transform: translate(-320%, -77%) scale(0.2);
    z-index: 7;
  }
}
@media screen and (max-width: 768px) {
  body.light .section-recent-portfolio .carousel-portfolio::before {
    top: -14px;
    right: 10px;
  }
}
@media screen and (max-width: 992px) {
  body.light .section-timeline-journey-content .timeline-list::before {
    left: 50%;
  }
  body.light .navbar-toggler.custome {
    display: flex;
  }
  body.light .navbar .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgb(8, 100, 187) 0%, rgb(27, 145, 255) 100%);
    z-index: 20;
    overflow: hidden;
    transition: 50ms all ease-in-out;
    transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  body.light .navbar .navbar-collapse.show {
    transform: translateX(0);
  }
  body.light .navbar .navbar-collapse.show .navbar-toggler {
    position: relative;
    border: unset;
  }
  body.light .navbar .navbar-collapse.show .navbar-toggler:focus {
    outline: unset;
    text-decoration: none;
    box-shadow: none;
  }
  body.light .navbar .navbar-collapse.show .navbar-toggler .navbar-toggler-close {
    width: 32px;
    height: 3px;
    display: block;
    top: 0;
    left: 0;
    background-color: #fff;
    position: absolute;
    transform: rotate(-45deg);
  }
  body.light .navbar .navbar-collapse.show .navbar-toggler .navbar-toggler-close::after {
    content: "";
    width: 32px;
    height: 3px;
    display: block;
    top: 0;
    left: 0;
    background-color: #fff;
    position: absolute;
    transform: rotate(90deg);
  }
  body.light .navbar .navbar-collapse .navbar-nav {
    margin-top: 1.5rem;
    width: 100%;
    min-height: 100vh;
  }
  body.light .navbar .navbar-collapse .navbar-nav .nav-item {
    padding-left: 0;
  }
  body.light .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 1.5rem 2rem;
  }
  body.light .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  body.light .navbar .navbar-collapse .navbar-nav .nav-item .btn {
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
  body.light footer .list-first {
    padding: 50px 0;
  }
  body.light footer .list-first .item {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }
  body.light footer .list-first .item.brand .brand img[alt=logo] {
    margin-top: -16px;
  }
  body.light footer .list-first .item.contact ul, body.light footer .list-first .item.address ul {
    list-style: none;
    padding-left: unset;
  }
  body.light footer .list-first .item.contact ul li, body.light footer .list-first .item.address ul li {
    display: list-item;
    padding: 0.5rem 0;
  }
  body.light footer .list-first .item.explore .nav-link:hover {
    color: #FDC201;
  }
  body.light footer .list-secound {
    padding: 30px 0;
  }
  body.light footer .list-secound small {
    font-size: 0.7em;
    font-weight: 300;
  }
}
@media screen and (max-width: 1200px) {
  body.light .section-recent-portfolio .carousel-portfolio .swiper-slide .card {
    height: 348px;
  }
  body.light .section-works-content .macbook-img-preview .swiper.macbook-img {
    height: 292px;
  }
  body.light .section-works-content .macbook-img-preview .swiper-pagination {
    margin-top: 33px;
    bottom: -12px;
  }
  body.light .section-recent-project-content .recent-project-item {
    box-shadow: unset;
  }
  body.light .section-recent-project-content .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transition: all 200ms linear;
    width: 20px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(251, 148, 51) 0%, rgb(253, 194, 1) 100%);
  }
}
@media screen and (max-width: 1400px) {
  body.light .section-works-content .macbook-img-preview .swiper-pagination {
    margin-top: -10px;
  }
}
@media screen and (min-width: 1400px) {
  body.light .section-ability-content {
    margin-top: -7.1rem;
  }
  body.light .main-header .header-content {
    margin-bottom: 9rem;
    margin-top: 5rem;
  }
  body.light .section-recent-portfolio .carousel-portfolio::before {
    top: -36px;
    right: 10px;
  }
  body.light .section-works-content .macbook-img-preview .swiper-pagination {
    bottom: -40px;
  }
}
@media (min-width: 992px) {
  body.light .main-header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    padding: 2rem 0;
    transition: all 155ms ease-in-out;
  }
}

@-webkit-keyframes bg-animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@-webkit-keyframes upDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes rotate360 {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bounce {
  from, to {
    transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    transform: translateY(5em) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce {
  from, to {
    transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    transform: translateY(5em) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounceShadow {
  from, to {
    transform: translateY(5em) scale(0.5);
    filter: blur(5px);
  }
  45% {
    transform: translateY(5em) scale(0.5);
  }
  50% {
    box-shadow: 20px 0 5px rgba(0, 0, 0, 0.1), -20px 0 5px rgba(0, 0, 0, 0.1);
  }
  100% {
    transform: translateY(5em) scale(0.5);
    box-shadow: unset;
  }
}
@keyframes bounceShadow {
  from, to {
    transform: translateY(5em) scale(0.5);
    filter: blur(5px);
  }
  45% {
    transform: translateY(5em) scale(0.5);
  }
  50% {
    box-shadow: 20px 0 5px rgba(0, 0, 0, 0.1), -20px 0 5px rgba(0, 0, 0, 0.1);
  }
  100% {
    transform: translateY(5em) scale(0.5);
    box-shadow: unset;
  }
}/*# sourceMappingURL=portfolio-2.css.map */